@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');
* {
  font-family: 'Inter', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

.chatbox-container {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 320px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 16px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  font-family: 'Inter', sans-serif;
  padding-top: 0;
}

.chatbox-header {
  padding: 12px 20px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  font-size: 1.2em;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
  text-align: left;
  font-weight: 900;
}

.chatbox-messages {
  flex-grow: 1;
  padding: 15px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
  margin-top: 0;
  scrollbar-width: none;
}

.message {
  max-width: 75%;
  word-wrap: break-word;
  padding: 10px 14px;
  border-radius: 18px;
  line-height: 1.4;
  position: relative;
  margin-bottom: 4px;
}

.message.user {
  align-self: flex-end;
  background-color: #5851ff;
  color: #fff;
  border-bottom-right-radius: 4px;
}

.message.assistant {
  align-self: flex-start;
  background-color: #efefef;
  color: #333;
  border-bottom-left-radius: 4px;
}

.chatbox-form {
  display: flex;
  padding: 10px 15px;
  background-color: #ffffff;
  box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.1);
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.chatbox-input {
  flex-grow: 1;
  margin-right: 8px;
  padding: 10px;
  border: 0px solid #d1d1d4;
  border-radius: 18px;
  background-color: #ffffff;
  outline: none;
}

.message-role {
  font-size: 0.7rem;
  color: #6c757d;
  margin-bottom: 2px;
}

